In [1]:
# Dependencies
import numpy as np
import pandas as pd
# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
#from sqlalchemy.orm import Session
#from sqlalchemy import create_engine, func
import datetime as dt
import calendar

ModuleNotFoundError: No module named 'sqlalchemy.ext'

In [14]:
import pandas as pd
import sqlite3




#engine = create_engine("sqlite:///Census_Data2.sqlite")

# reflect an existing database into a new model
#Base = automap_base()
# reflect the tables
#Base.prepare(engine, reflect=True)

# Save references to each table
#Measurement = Base.classes.measurement
#Station = Base.classes.station

In [15]:
# Create our session (link) from Python to the DB
#session = Session(engine)

In [16]:
con = sqlite3.connect('Census_Dataa.sqlite')
cursor = con.cursor()

In [17]:

cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
print(cursor.fetchall())

[('Census_Data',)]

In [18]:
def table_columns(db, table_name):
    curs = db.cursor()
    sql = "select * from %s where 1=0;" % table_name
    curs.execute(sql)
    return [d[0] for d in curs.description]

In [19]:
table_columns(con, 'Census_Data')

['CityState',
 'city',
 'state',
 'Population',
 'White Population',
 'Black Population',
 'Native American Population',
 'Asian Population',
 'Hispanic Population',
 'Education None',
 'Education High School',
 'Education GED',
 'Education Associates',
 'Education Bachelors',
 'Education Masters',
 'Education Professional',
 'Education Doctorate',
 'Poverty',
 'Employment Labor Force',
 'Employment Unemployed',
 'Employment Male Computer Engineering',
 'Employment Female Computer Engineering',
 'Median Age',
 'Median Male Age',
 'Median Female Age',
 'Household Income',
 'Income Per Capita',
 'Median Gross Rent',
 'Median Home Value',
 'lat',
 'lng']

In [20]:
#df = pd.read_sql_query("SELECT * from Census_Data", con)

df = pd.io.sql.read_sql_query("SELECT * from Census_Data", con)
df = df.set_index(['city'])
print(df.head(10))

AttributeError: module 'pandas' has no attribute 'io'

In [21]:
# 1. Import the sqlalchemy extract function.
from sqlalchemy import extract

ImportError: cannot import name 'extract' from 'sqlalchemy' (unknown location)

In [ ]:
#  3. Convert the June temperatures to a list.
results = session.query()

In [ ]:
# 4. Create a DataFrame from the list of temperatures for the month of June. 
df_10 = pd.DataFrame(results_10, columns=['date','temperature'])
df_11 = pd.DataFrame(results_11, columns=['date','temperature'])
df_12 = pd.DataFrame(results_12, columns=['date','temperature'])
df_13 = pd.DataFrame(results_13, columns=['date','temperature'])
df_14 = pd.DataFrame(results_14, columns=['date','temperature'])
df_15 = pd.DataFrame(results_15, columns=['date','temperature'])
df_16 = pd.DataFrame(results_16, columns=['date','temperature'])
df_17 = pd.DataFrame(results_17, columns=['date','temperature'])
df_18 = pd.DataFrame(results_18, columns=['date','temperature'])

df = df_14.append([df_10, df_11, df_12, df_13, df_15, df_16, df_17, df_18])
df.set_index(df['date'], inplace=True)

In [ ]:
# 5. Calculate and print out the summary statistics for the June temperature DataFrame.
df = df.sort_index()
print(df.to_string(index=False))

In [ ]:
df.describe()

## D2: Determine the Summary Statistics for December

In [ ]:
# 6. Write a query that filters the Measurement table to retrieve the temperatures for the month of December.
# 1. Import the sqlalchemy extract function.
from sqlalchemy import extract

# 2. Write a query that filters the Measurement table to retrieve the temperatures for the month of dec. 


dec1_18 = dt.date(2018, 12, 1)
dec31_18 = dt.date(2018, 12, 31)


dec1_17 = dt.date(2017, 12, 1)
dec31_17 = dt.date(2017, 12, 31)


dec1_16 = dt.date(2016, 12, 1)
dec31_16 = dt.date(2016, 12, 31)

dec1_15 = dt.date(2015, 12, 1)
dec31_15 = dt.date(2015, 12, 31)

dec1_14 = dt.date(2014, 12, 1)
dec31_14 = dt.date(2014, 12, 31)

dec1_13 = dt.date(2013, 12, 1)
dec31_13 = dt.date(2013, 12, 31)

dec1_12 = dt.date(2012, 12, 1)
dec31_12 = dt.date(2012, 12, 31)

dec1_11 = dt.date(2011, 12, 1)
dec31_11 = dt.date(2011, 12, 31)

dec1_10 = dt.date(2010, 12, 1)
dec31_10 = dt.date(2010, 12, 31)
results = []

In [ ]:
# 7. Convert the December temperatures to a list.
results_d_ = session.query(Measurement.date, Measurement.tobs)

results_d__10 = session.query(Measurement.date, Measurement.tobs).filter(Measurement.date >= dec1_10, Measurement.date <= dec31_10).all()
results_d__11 = session.query(Measurement.date, Measurement.tobs).filter(Measurement.date >= dec1_11, Measurement.date <= dec31_11).all()

results_d__12 = session.query(Measurement.date, Measurement.tobs).filter(Measurement.date >= dec1_12, Measurement.date <= dec31_12).all()
results_d__13 = session.query(Measurement.date, Measurement.tobs).filter(Measurement.date >= dec1_13, Measurement.date <= dec31_13).all()

results_d__14 = session.query(Measurement.date, Measurement.tobs).filter(Measurement.date >= dec1_14, Measurement.date <= dec31_14).all()
results_d__15 = session.query(Measurement.date, Measurement.tobs).filter(Measurement.date >= dec1_15, Measurement.date <= dec31_15).all()

results_d__16 = session.query(Measurement.date, Measurement.tobs).filter(Measurement.date >= dec1_16, Measurement.date <= dec31_16).all()
results_d__17 = session.query(Measurement.date, Measurement.tobs).filter(Measurement.date >= dec1_17, Measurement.date <= dec31_17).all()
results_d__18 = session.query(Measurement.date, Measurement.tobs).filter(Measurement.date >= dec1_18, Measurement.date <= dec31_18).all()

In [ ]:
# 8. Create a DataFrame from the list of temperatures for the month of December. 
df_d_10 = pd.DataFrame(results_d__10, columns=['date','temperature'])
df_d_11 = pd.DataFrame(results_d__11, columns=['date','temperature'])
df_d_12 = pd.DataFrame(results_d__12, columns=['date','temperature'])
df_d_13 = pd.DataFrame(results_d__13, columns=['date','temperature'])
df_d_14 = pd.DataFrame(results_d__14, columns=['date','temperature'])
df_d_15 = pd.DataFrame(results_d__15, columns=['date','temperature'])
df_d_16 = pd.DataFrame(results_d__16, columns=['date','temperature'])
df_d_17 = pd.DataFrame(results_d__17, columns=['date','temperature'])
df_d_18 = pd.DataFrame(results_d__18, columns=['date','temperature'])

df_d = df_d_14.append([df_d_10, df_d_11,df_d_12, df_d_13, df_d_15, df_d_16, df_d_17, df_d_18])
df_d.set_index(df_d['date'], inplace=True)

df_d = df_d.sort_index()
print(df_d.to_string(index=False))

In [ ]:
# 9. Calculate and print out the summary statistics for the Decemeber temperature DataFrame.
df_d.describe()